html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: grey;
}

.navbar-brand {
    color: orange;
}

.navbar-default {
    background-color: orange;
}

#head-title {
    width: 100%;
    height: 50px;
    background-color: grey;
}

.title-name {
    text-align: center;
    padding-top: 10px;
    color: orange;
}

#map {
    z-index: 1;
    height: 90%;
    width: 70%;
    float: left;
}

#street-view,
#street-view-n {
    width: 100%;
    height: 400px;
    background-color: orange;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    text-align: center;
    display: block;
    width: 30%;
    height: 90%;
    line-height: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
}

h2 {
    font-size: 22px;
    margin: 10px 30px 5px 0;
}

#right-panel ul {
    width: 100%;
    height: 90%;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}

.right-panel-head {
    background-color: orange;
}

/* ====== MODAL ======= */

.modal-header,
h4,
.close {
    background-color: grey;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

#rating-stars {
    background-color: grey;
}

.btn-add-review {
    float: left;
}

.title-modal {
    float: left;
}

/* add new restaurant form info window */
/*
#info-content-new-restaurant {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;

}*/

#form-add-restaurant {
    /* display: none;
    width: 30%;
    height: 90%;
    line-height: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
    */

    position: fixed;
    top: 30%;
    left: 30%;
    width: 300px;
    height: 380px;
    margin-top: -50px;
    margin-left: -50px;
    background-color: #cbcbcb;


}

#form-add-restaurant input {
    height: 20px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
    font-size: 12px;
}

#form-add-restaurant select {
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: unset;
    border: none;
}

.add-res-heading {
    color: orange;
    text-align: center;
    padding-bottom: 20px;
}

#res-name {
    text-align: center;
}

#add-restaurant {
    width: 95%;
    background-color: orange;
}

#review-text {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    background-color: orange;
}


#div-add-new-review {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;

}


#add-new-review {
    /*
    display: none;
    width: 30%;
    height: 90%;
    line-height: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    padding: 5px;
    z-index: 9;
    border: 1px solid #999;
    background: #fff;
    */
    /*
    display: none;
    z-index: 5;
    position: absolute;
    max-width: 300px;
    background-color: white;
    margin-left: 40px;
    */
    position: fixed;
    top: 30%;
    left: 30%;
    width: 300px;
    height: 320px;
    margin-top: -50px;
    margin-left: -50px;
    background-color: #cbcbcb;

}

#add-new-review input {
    height: 20px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
    font-size: 12px;
}

#add-new-review select {
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: unset;
    border: none;
}

.add-new-review-head {
    color: orange;
}

#btn-add-new-review {
    width: 95%;
    background-color: orange;
}



/*_____________MEDIA QUERY______________*/

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .navbar {
        display: block;
    }

    #right-panel {
        display: none;
    }

    #map {
        height: 90%;
        width: 100%;
        float: left;
    }
}